<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tradex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  <add name="TradexEntities" connectionString="metadata=res://*/Models.Versat.csdl|res://*/Models.Versat.ssdl|res://*/Models.Versat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Xtreme\SQL2008;initial catalog=Tradex;persist security info=True;user id=sa;password=Sql2016!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Tradex.Properties.Settings>
      <setting name="codigoinv" serializeAs="String">
        <value>202</value>
      </setting>
      <setting name="almacenes" serializeAs="String">
        <value>244</value>
      </setting>
      <setting name="unidades" serializeAs="String">
        <value>010</value>
      </setting>
      <setting name="filaInicio" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="filaFin" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="hojaExcel" serializeAs="String">
        <value>Factura</value>
      </setting>
      <setting name="columnaCodigo" serializeAs="String">
        <value>B</value>
      </setting>
      <setting name="columnaUm" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="columnadescripcion" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="columnaCantidad" serializeAs="String">
        <value>G</value>
      </setting>
      <setting name="columnaImporteCUC" serializeAs="String">
        <value>L</value>
      </setting>
      <setting name="columnaImporteMN" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="columnaInicio" serializeAs="String">
        <value>B</value>
      </setting>
      <setting name="columnaFin" serializeAs="String">
        <value>M</value>
      </setting>
    </Tradex.Properties.Settings>
  </userSettings>
</configuration>